<html>
    <head>
        <title> Tic Tac Toe Local</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
    </head>    
    
    <body>
        <div class = "w3-container w3-blue w3-center">
        <h1>Tic Tac Toe Local</h1>
    </div>
    
    <div class="w3-bar w3-green"> 
  <a href="https://ide-b0e2820b81bf49fc8134321f470e7622-8080.cs50.ws/" class="w3-bar-item w3-button w3-hover-orange">Home</a>
  <a href="https://ide-b0e2820b81bf49fc8134321f470e7622-8080.cs50.ws/game" class="w3-bar-item w3-button w3-hover-orange">Game</a>
  <a href="https://ide-b0e2820b81bf49fc8134321f470e7622-8080.cs50.ws/login" class="w3-bar-item w3-button w3-hover-orange">Login</a>
  <a href="https://ide-b0e2820b81bf49fc8134321f470e7622-8080.cs50.ws/registration" class="w3-bar-item w3-button w3-hover-orange">Register</a>
</div>
    
    <table>
            {% for i in range(height) %}
                <tr>
                   {% for x in range(width) %}
                        <td>
                            {% if game[i][x] == "-" %}
                                <a href="#">Play </a>
                            {% else %}
                                {{ game[i][x] }}
                                
                            {% endif %}
                                
                            
                        </td>
                        {% endfor %} 
                </tr>
            {% endfor %}
        </table>

        
        
<p>
    <div class = "w3-container w3-bottom w3-blue">
        <h2>Footer</h2>
    </div>
</p>
        
        
    </body>    
    
    
    
    
    
    
    
</html>
